In [1]:
# import modules and get pwd

import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [4]:
# retrive data from sql

connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
query = '''SELECT f.film_id, f.title, f.release_year, f.rental_rate, f.special_features, f.rental_duration, f.length, f.rating,
            f.language_id FROM film AS f'''



data = pd.read_sql_query(query, engine)
data.head()

,film_id,title,release_year,rental_rate,special_features,rental_duration,length,rating,language_id
0,1,ACADEMY DINOSAUR,2006,0.99,"Deleted Scenes,Behind the Scenes",6,86,PG,1
1,2,ACE GOLDFINGER,2006,4.99,"Trailers,Deleted Scenes",3,48,G,1
2,3,ADAPTATION HOLES,2006,2.99,"Trailers,Deleted Scenes",7,50,NC-17,1
3,4,AFFAIR PREJUDICE,2006,2.99,"Commentaries,Behind the Scenes",5,117,G,1
4,5,AFRICAN EGG,2006,2.99,Deleted Scenes,6,130,G,1

In [ ]:
def rentals_month(engine, month, year):
    """
    This function takes the rental data from Sakila and returns a Pandas DataFrame
  
    -Output:  A pandas DataFrame containing the rental data for the specified month and year.
    """
    # create the SQL query
    query = "SELECT * FROM rental WHERE MONTH(rental_date) = "+str(month)+" AND YEAR(rental_date) = "+str(year)
    
    # execute the query and store the results in a DataFrame
    data = pd.read_sql_query(query, engine)
    return data